@charset "utf-8";

body {
    font-family: "Gowun Batang", serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #404040;
}
* {
   margin: 0;
   padding: 0;
}
ul, li {
   list-style: none;
}
img {
   display: block;
}
a {
   text-decoration: none;
   color: inherit;
}
/*header*/
header {
    width: 100%;
    height: 250px;
    /*background-color: antiquewhite;*/
    position: relative;
}
header .top {
    width: 100%;
    height: 50px;
    background-color: #3e583f;
}
.t_menu {
    width: 250px;
    height: 30px;
    /*background-color: aqua;*/
    font-size: 14px;
    position: absolute;
    top: 5%;
    right: 10%;
}
.t_menu li {
    display: block;
    float: left;
    width: 60px;
    height: 20px;
    /*border: 1px solid red;*/
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    color: #eeeee3;
}
header .mid {
    width: 100%;
    height: 150px;
    /*background-color: azure;*/
}
.mid .logo {
    width: 270px;
    height: 100px;
    /*background-color: aquamarine;*/
    position: absolute;
    top: 30%;
    left: 10%;
}
.mid .logo img {
    width: 100%;
    height: 100%;
}
.mid_icon {
    width: 480px;
    height: 50px;
    /*background-color: lightpink;*/
    position: absolute;
    right: 10%;
    top: 40%;
}
.mid .search {
    width: 320px;
    height: 50px;
    /*border: 1px solid rebeccapurple;*/
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-right: 30px;
}
.s_iconbox {
    width: 40px;
    height: 40px;
    /*border: 1px solid salmon;*/
    box-sizing: border-box;
    position: absolute;
    right: 10%;
    top: 9%;
}
.s_iconbox img {
    width: 100%;
    height: 100%;
}
.mid .search input[type=text] {
    width: 300px;
    height: 40px;
    background-color:#dedfdd;
    border-radius: 10px;
    border: none;
    float: left;
    margin: 4px 8px;
    margin-right: 20px;
    position: absolute;
    padding-left: 10px;
}
.mid .personal {
    width: 50px;
    height: 50px;
    /*border: 1px solid;*/ 
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
}
.mid .personal img {
    width: 100%;
    height: 100%;
}
.mid .s_bag{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    /*border: 1px solid;*/
    float: left;
}
.mid .s_bag img {
    width: 100%;
    height: 100%;
}
header .bottom {
    width: 100%;
    height: 50px;
    background-color: #3e583f;
}
.b_menu {
    width: 570px;
    height: 50px;
    /*background-color: aqua;*/
    margin: 0 auto;
}
.b_menu>li {
    font-family: "Roboto Mono", serif;
    display: block;
    float: left;
    width: 100px;
    height: 50px;
    /*border: 1px solid red;*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
    color: #b3b39b;
}
.b_menu .easy {
    width: 160px;
    height: 50px;
    line-height: 50px;
}
/* b_menu>li   호버*/
.b_menu>li:hover {
    color: #EBF0DE;
}
/*quick bar*/
.quickbar {
    width: 70px;
    height: 260px;
    background-color:#eeeee3;
    border-radius: 15px;
    margin-right: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.q_icon {
    width: 40px;
    height: 40px;
    /*border: 1px solid lightcoral;*/
    margin: auto 15px;
    margin-top: 10px;
}
.quickbar .up {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto 15px;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
}
.q_icon img {
    width: 100%;
    height: 100%;
}
.quickbar .up img {
    width: 100%;
    height: 100%;
}
/*shopping cart*/
.cart {
  width: 100%;
  height: 1000px;
  /*background-color: aquamarine;*/
  overflow: hidden;
  margin-top: 100px;
}
.cart .title {
  width: 100%;
  height: 100px;
  /*background-color: lightblue;*/
  overflow: hidden;
  text-align: center;
  line-height: 100px;
}
.count {
  width: 80%;
  height: 400px;
  border: 1px solid  #dedfdd;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}
.count .error {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 100px;
}
.count .error img {
  width: 100%;
  height: 100%;
}
.count .e_txt {
  width: 100%;
  height: 50px;
  /*background-color: lightblue;*/
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
}
/*footer*/
footer {
  width: 100%;
  height: 300px;
  background-color: #404040;
  position: relative;
}
.terms {
  width: 100%;
  height: 70px;
  border: 1px solid #8A8585;
  box-sizing: border-box;
  border-top: none;
  border-right: none ;
  border-left: none ;
}
.terms ul {
  width: 1000px;
  height: 100%;
  /*border: 1px solid red;*/
  box-sizing: border-box;
  color: #F5F5F5;
  margin: 0 auto;
}
.terms ul li {
  width: 200px;
  height: 60px;
  /*border: 1px solid blueviolet;*/
  box-sizing: border-box;
  float: left;
  margin: 5px 60px;
  text-align: center;
  line-height: 60px;
}
footer .f_logo {
  width: 200px;
  height: 80px;
  /*background-color: aqua;*/
  position: absolute;
  left: 28%;
  bottom: 24%;
}
footer .f_logo img {
  width: 100%;
  height: 100%;
}
footer>p {
  color: #F5F5F5;
  font-size: 14px;
  position: absolute;
  right: 28%;
  bottom: 28%;
}
/*반응형 미디어 쿼리 지정*/
/*1600px 미만일 때*/
@media screen and (max-width:1599px){
    /*header*/
    header {
        width: 100%;
        transition-duration:0.7s;
    }
    /*메인메뉴*/
    .b_menu {
        width: 505px;
        /*background-color: aqua;*/
        margin: 0 auto;
    }
    .b_menu>li {
        width: 90px;
        /*border: 1px solid red;*/
    }
    .b_menu .easy {
        width: 130px;
    }
    /*shopping cart*/
    .cart {
        width: 100%;
        transition-duration:0.7s;
        /*background-color: aquamarine;*/
    }
    /*footer*/ 
    footer {
        width: 100%;
        transition-duration:0.7s;
    }
    .terms ul {
        width: 970px;
        /*border: 1px solid blueviolet;*/
    }
    .terms ul li {
        width: 200px;
        /*border: 1px solid blueviolet;*/
        margin: 5px 60px;
    }
    footer .f_logo {
        left: 26%;
    }
    footer>p {
        right: 25%;
    }
}
/*1200px 미만일 때*/
@media screen and (max-width:1199px){
     /*header*/
     header {
        width: 100%;
        transition-duration:0.7s;
    }
    /*메인메뉴*/
    .b_menu {
        width: 505px;
        /*background-color: aqua;*/
    }
    .b_menu>li {
        width: 90px;
        /*border: 1px solid red;*/
    }
    .b_menu .easy {
        width: 130px;
        height: 20px;
    }
    /*quick bar*/
    .quickbar {
        width: 60px;
        height: 210px;
    }
    .q_icon {
        width: 30px;
        height: 30px;
    }
    .quickbar .up {
        width: 30px;
        height: 30px;
    }
    /*shopping cart*/
    .cart {
        width: 100%;
        transition-duration:0.7s;
        /*background-color: aquamarine;*/
    }
    /*footer*/ 
    footer {
        width: 100%;
        transition-duration:0.7s;
    }
    .terms ul {
        width: 970px;
        /*border: 1px solid blueviolet;*/
    }
    .terms ul li {
        width: 200px;
        /*border: 1px solid blueviolet;*/
        margin: 5px 60px;
    }
    footer .f_logo {
        left: 18%;
    }
    footer>p {
        right: 19%;
    }
}
/*900px 미만일 때*/
@media screen and (max-width:899px){
    /*header*/
    header {
        width: 100%;
        transition-duration:0.7s;
    }
    /*로그인, 회원가입, 고객센터*/
    header .top {
        width: 100%;
    }
    .t_menu { 
        right: 6%;
    }
    /*로고, 검색창, 마이페이지, 장바구니*/
    header .mid {
        width: 100%;
    }
    .mid .logo {
        width: 200px;
        height: 80px;
        /*background-color: aquamarine;*/
        position: absolute;
        top: 34%;
        left: 6%;
    }
    .mid_icon {
        width: 450px;
        /*background-color: lightpink;*/
        right: 5%;
    }
    .mid .search {
        width: 280px;
        /*border: 1px solid rebeccapurple;
        box-sizing: border-box;*/
    }
    .mid .search input[type=text] {
        width: 260px;
    }
    /*메인메뉴*/
    .b_menu {
        width: 560px;
        height: 23px;
        /*background-color: aqua;*/
        left: 20%;
    }
    .b_menu>li {
        width: 100px;
        /*border: 1px solid red;*/
        margin-left: 20px;
    }
    .b_menu .easy {
        width: 150px;
    }
    /*quick bar*/
     .quickbar {
        width: 55px;
        height: 190px;
    }
    .q_icon {
        width: 25px;
        height: 25px;
    }
    .quickbar .up {
        width: 30px;
        height: 30px;
    }
    /*shopping cart*/
    .cart {
        width: 100%;
        transition-duration:0.7s;
        /*background-color: aquamarine;*/
    }
    .cart .title>h1 {
        font-size: 26px;
    }
    .count .error {
        width: 80px;
        height: 80px;
    }
    .count .e_txt>h3 {
        font-size: 16px;
    }
    /*footer*/ 
    footer {
        width: 100%;
        transition-duration:0.7s;
    }
    .terms ul {
        width: 575px;
        /*border: 1px solid blueviolet;*/
    }
    .terms ul li {
        width: 160px;
        font-size: 14px;
        /*border: 1px solid blueviolet;*/
        margin: 5px 25px;
    }
    .terms ul li:first-child {
        width: 100px;
    }
    footer .f_logo {
        left: 13%;
    }
    footer>p {
        right: 12%;
        font-size: 12px;
    }
}
/*680px 미만일 때*/
@media screen and (max-width:679px){
    /*header*/
    header {
        width: 100%;
        transition-duration:0.7s;
    }
    /*로그인, 회원가입, 고객센터*/
    header .top {
        width: 100%;
    }
    .t_menu { 
        right: 6%;
    }
    /*로고, 검색창, 마이페이지, 장바구니*/
    header .mid {
        width: 100%;
    }
    .mid .logo {
        width: 150px;
        height: 60px;
        /*background-color: aquamarine;*/
        position: absolute;
        top: 38%;
        left: 4%;
    }
    .mid_icon {
        width: 350px;
        /*background-color: lightpink;*/
        right: 6%;
    }
    .mid .search {
        width: 200px;
        /*border: 1px solid rebeccapurple;
        box-sizing: border-box;*/
    }
    .mid .search input[type=text] {
        width: 180px;
    }
    /*메인메뉴*/
    .b_menu {
        width: 520px;
        /*background-color: aqua;*/
        left: 11%;
    }
    .b_menu>li {
        /*border: 1px solid red;*/
        font-size: 18px;
    }
    .b_menu .easy {
        width: 120px;
    }
    /*quick bar*/
    .quickbar {
        width: 40px;
        height: 160px;
        margin-right: 5px;
    }
    .q_icon {
        width: 20px;
        height: 20px;
        /*border: 1px solid lightcoral;*/
        margin: auto 10px;
        margin-top: 10px;
    }
    .quickbar .up {
        width: 20px;
        height: 20px;
        margin: auto 10px;
        margin-top: 10px;
    }
    /*shopping cart*/
    .cart {
        width: 100%;
        transition-duration:0.7s;
        /*background-color: aquamarine;*/
    }
    .cart .title>h1 {
        font-size: 26px;
    }
    .count .error {
        width: 80px;
        height: 80px;
    }
    .count .e_txt>h3 {
        font-size: 16px;
    }
    /*footer*/ 
    footer {
        width: 100%;
        height: 200px;
        transition-duration:0.7s;
    }
    .terms {
        width: 100%;
        height: 50px;
    }
    .terms ul {
        width: 445px;
       /*border: 1px solid blueviolet;*/
    }
    .terms ul li {
        width: 130px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        /*border: 1px solid blueviolet;*/
        margin: 5px 15px;
    }
    .terms ul li:first-child {
        width: 90px;
    }
    footer .f_logo {
        width: 160px;
        height: 60px;
        left: 8%;
        bottom: 22%;
    }
    footer>p {
        right: 11%;
        bottom: 25%;
        font-size: 10px;
    }
}
/*540px 미만일 때*/
@media screen and (max-width:539px){
     /*header*/
     header {
        width: 100%;
        height: 200px;
        transition-duration:0.7s;
    }
    /*로그인, 회원가입, 고객센터*/
    header .top {
        width: 100%;
    }
    .t_menu {
        width: 220px;
        height: 20px;
        /*background-color: aqua;*/
        font-size: 12px;
        top: 7%;
        right: 9%;
    }
    .t_menu li {
        width: 50px;
        height: 20px;
        /*border: 1px solid red;*/
        font-size: 12px;
        line-height: 20px;
        margin-left: 20px;
    }
    .t_menu { 
        right: 6%;
    }
    /*로고, 검색창, 마이페이지, 장바구니*/
    header .mid {
        width: 100%;
        height: 100px;
    }
    .mid .logo {
        width: 120px;
        height: 50px;
        /*background-color: aquamarine;*/
        top: 37.55%;
        left: 4%;
    }
    .mid_icon {
        width: 300px;
        /*background-color: lightpink;*/
        right: 4%;
        top: 40%;
    }
    .mid .search {
        width: 170px;
       /*border: 1px solid rebeccapurple;
        box-sizing: border-box;*/
        margin-right: 15px;
    }
    .s_iconbox {
        width: 30px;
        height: 30px;
        /*border: 1px solid salmon;
        box-sizing: border-box;*/
        right: 10%;
        top: 9%;
    }
    .mid .search input[type=text] {
        width: 140px;
        height: 30px;
        margin-right: 15px;
    }
    .mid .personal {
        width: 40px;
        height: 40px;
       /*border: 1px solid;
        box-sizing: border-box;*/
        margin-right: 15px;
    }
    .mid .s_bag{
        width: 40px;
        height: 40px;
        /*box-sizing: border-box;
        border: 1px solid;*/
    }
    /*메인메뉴*/
    .b_menu {
        width: 400px;
        /*background-color: aqua;*/
        left: 13%;
        bottom: 6%;
    }
    .b_menu>li {
        width: 80px;
        /*border: 1px solid red;*/
        font-size: 16px;
        margin-left: 10px;
    }
    .b_menu .easy {
        width: 100px;
    }  
    /*quick bar*/
    .quickbar {
        width: 35px;
        height: 140px;
        margin-right: 5px;
    }
    .q_icon {
        width: 15px;
        height: 15px;
        /*border: 1px solid lightcoral;*/
        margin: auto 10px;
        margin-top: 10px;
    }
    .quickbar .up {
        width: 15px;
        height: 15px;
        margin: auto 10px;
        margin-top: 10px;
    }
    /*shopping cart*/
    .cart {
        width: 100%;
        transition-duration:0.7s;
        /*background-color: aquamarine;*/
    }
    .cart .title>h1 {
        font-size: 24px;
    }
    .count .error {
        width: 80px;
        height: 80px;
    }
    .count .e_txt>h3 {
        font-size: 14px;
    }
    /*footer*/ 
    footer {
        width: 100%;
        height: 200px;
        transition-duration:0.7s;
    }
    .terms {
        width: 100%;
        height: 50px;
    }
    .terms ul {
        width: 385px;
        /*border: 1px solid blueviolet;*/
    }
    .terms ul li {
        width: 110px;
        height: 40px;
        line-height: 40px;
        font-size: 10px;
        /*border: 1px solid blueviolet;*/
        margin: 5px 15px;
    }
    .terms ul li:first-child {
        width: 70px;
    }
    footer .f_logo {
        width: 120px;
        height: 40px;
        left: 10%;
        bottom: 28%;
    }
    footer>p {
        right: 11%;
        bottom: 29%;
        font-size: 8px;
    }
}