@charset "utf-8";

body {
    font-family: "Gowun Batang", serif;
    font-size: 16px;
    background-color: #ffffff;
    color: #404040;
}
* {
   margin: 0;
   padding: 0;
}
ul, li {
   list-style: none;
}
img {
   display: block;
}
a {
   text-decoration: none;
   color: inherit;
}
/*header*/
header {
    width: 100%;
    height: 250px;
    /*background-color: antiquewhite;*/
    position: relative;
}
header .top {
    width: 100%;
    height: 50px;
    background-color: #3e583f;
}
.t_menu {
    width: 250px;
    height: 30px;
    /*background-color: aqua;*/
    font-size: 14px;
    position: absolute;
    top: 5%;
    right: 10%;
}
.t_menu li {
    display: block;
    float: left;
    width: 60px;
    height: 20px;
    /*border: 1px solid red;*/
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    color: #eeeee3;
}
header .mid {
    width: 100%;
    height: 150px;
    /*background-color: azure;*/
}
.mid .logo {
    width: 270px;
    height: 100px;
    /*background-color: aquamarine;*/
    position: absolute;
    top: 30%;
    left: 10%;
}
.mid .logo img {
    width: 100%;
    height: 100%;
}
.mid_icon {
    width: 480px;
    height: 50px;
    /*background-color: lightpink;*/
    position: absolute;
    right: 10%;
    top: 40%;
}
.mid .search {
    width: 320px;
    height: 50px;
    /*border: 1px solid rebeccapurple;*/
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-right: 30px;
}
.s_iconbox {
    width: 40px;
    height: 40px;
    /*border: 1px solid salmon;*/
    box-sizing: border-box;
    position: absolute;
    right: 10%;
    top: 9%;
}
.s_iconbox img {
    width: 100%;
    height: 100%;
}
.mid .search input[type=text] {
    width: 300px;
    height: 40px;
    background-color:#dedfdd;
    border-radius: 10px;
    border: none;
    float: left;
    margin: 4px 8px;
    margin-right: 20px;
    position: absolute;
    padding-left: 10px;
}
.mid .personal {
    width: 50px;
    height: 50px;
    /*border: 1px solid;*/ 
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
}
.mid .personal img {
    width: 100%;
    height: 100%;
}
.mid .s_bag{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    /*border: 1px solid;*/
    float: left;
}
.mid .s_bag img {
    width: 100%;
    height: 100%;
}
header .bottom {
    width: 100%;
    height: 50px;
    background-color: #3e583f;
}
.b_menu {
    width: 580px;
    height: 23px;
    /*background-color: aqua;*/
    position: absolute;
    bottom: 5%;
    left: 35%;
}
.b_menu>li {
    font-family: "Roboto Mono", serif;
    display: block;
    float: left;
    width: 100px;
    height: 20px;
    /*border: 1px solid red;*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin-left: 20px;
    color: #b3b39b;
}
.b_menu .easy {
    width: 165px;
    height: 20px;
}
/* b_menu>li   호버*/
.b_menu>li:hover {
    color: #EBF0DE;
}
/*quick bar*/
.quickbar {
    width: 70px;
    height: 260px;
    background-color:#eeeee3;
    border-radius: 15px;
    margin-right: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.q_icon {
    width: 40px;
    height: 40px;
    /*border: 1px solid lightcoral;*/
    margin: auto 15px;
    margin-top: 10px;
}
.quickbar .up {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto 15px;
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
}
.q_icon img {
    width: 100%;
    height: 100%;
}
.quickbar .up img {
    width: 100%;
    height: 100%;
}
/*page title*/
.pagetitle {
    width: 100%;
    height: 200px;
    /*border: 1px solid;*/
    background-color: #dedfdd;
}
.pagetitle>h1 {
    text-align: center;
    line-height: 200px;
}
/* 간편식/소스 */
.contents1 {
    width: 100%;
    height: 1920px;
    /*background-color: aquamarine;*/
    overflow: hidden;
    margin-top: 100px;
}
.contents1 .c_title {
    width: 1170px;
    height: 50px;
    margin: 0 auto;
    /*background-color: lightyellow;*/
}
.contents1 .c_title>h2 {
    margin-left: 10px;
}
.contents1 .c_title>hr {
    width: 1170px;
    margin: 0 auto;
    color: #404040;
}
/* 간편식/소스 01 */
.contents1 .sauce01 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents1 .sauce01 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents1 .sauce01 .goodsbox:nth-child(1),
.contents1 .sauce01 .goodsbox:nth-child(2), 
.contents1 .sauce01 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents1 .sauce01 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents1 .sauce01 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents1 .sauce01 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents1 .sauce01 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents1 .sauce01 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents1 .sauce01 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 간편식/소스 02 */
.contents1 .sauce02 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents1 .sauce02 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;*/
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}
.contents1 .sauce02 .goodsbox:nth-child(1),
.contents1 .sauce02 .goodsbox:nth-child(2), 
.contents1 .sauce02 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents1 .sauce02 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents1 .sauce02 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents1 .sauce02 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents1 .sauce02 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents1 .sauce02 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents1 .sauce02 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 간편식/소스 03 */
.contents1 .sauce03 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents1 .sauce03 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents1 .sauce03 .goodsbox:nth-child(1),
.contents1 .sauce03 .goodsbox:nth-child(2), 
.contents1 .sauce03 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents1 .sauce03 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents1 .sauce03 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents1 .sauce03 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents1 .sauce03 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents1 .sauce03 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents1 .sauce03 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 간편식/소스 04 */
.contents1 .sauce04 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents1 .sauce04 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents1 .sauce04 .goodsbox:nth-child(1),
.contents1 .sauce04 .goodsbox:nth-child(2), 
.contents1 .sauce04 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents1 .sauce04 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents1 .sauce04 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents1 .sauce04 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents1 .sauce04 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents1 .sauce04 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents1 .sauce04 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 밀키트 */
.contents2 {
    width: 100%;
    height: 1920px;
    /*background-color: lightsalmon;*/
    overflow: hidden;
    margin-top: 100px;
}
.contents2 .c_title {
    width: 1170px;
    height: 50px;
    margin: 0 auto;
    /*background-color: lightyellow;*/
}
.contents2 .c_title>h2 {
    margin-left: 10px;
}
.contents2 .c_title>hr {
    width: 1170px;
    margin: 0 auto;
    color: #404040;
}
/* 밀키트 01 */
.contents2 .mealkit01 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents2 .mealkit01 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents2 .mealkit01 .goodsbox:nth-child(1),
.contents2 .mealkit01 .goodsbox:nth-child(2), 
.contents2 .mealkit01 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents2 .mealkit01 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents2 .mealkit01 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents2 .mealkit01 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents2 .mealkit01 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents2 .mealkit01 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents2 .mealkit01 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 밀키트 02 */
.contents2 .mealkit02 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents2 .mealkit02 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents2 .mealkit02 .goodsbox:nth-child(1),
.contents2 .mealkit02 .goodsbox:nth-child(2), 
.contents2 .mealkit02 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents2 .mealkit02 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents2 .mealkit02 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents2 .mealkit02 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents2 .mealkit02 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents2 .mealkit02 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents2 .mealkit02 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 밀키트 03 */
.contents2 .mealkit03 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents2 .mealkit03 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents2 .mealkit03 .goodsbox:nth-child(1),
.contents2 .mealkit03 .goodsbox:nth-child(2), 
.contents2 .mealkit03 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents2 .mealkit03 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents2 .mealkit03 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents2 .mealkit03 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents2 .mealkit03 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents2 .mealkit03 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents2 .mealkit03 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 밀키트 04 */
.contents2 .mealkit04 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents2 .mealkit04 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;*/
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}
.contents2 .mealkit04 .goodsbox:nth-child(1),
.contents2 .mealkit04 .goodsbox:nth-child(2), 
.contents2 .mealkit04 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents2 .mealkit04 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents2 .mealkit04 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents2 .mealkit04 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents2 .mealkit04 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents2 .mealkit04 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents2 .mealkit04 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 다이어트 */
.contents3 {
    width: 100%;
    height: 2200px;
    /*background-color: lightseagreen;*/
    overflow: hidden;
    margin-top: 100px;
}
.contents3 .c_title {
    width: 1170px;
    height: 50px;
    margin: 0 auto;
    /*background-color: lightyellow;*/
}
.contents3 .c_title>h2 {
    margin-left: 10px;
}
.contents3 .c_title>hr {
    width: 1170px;
    margin: 0 auto;
    color: #404040;
}
/* 다이어트 01 */
.contents3 .diet01 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents3 .diet01 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents3 .diet01 .goodsbox:nth-child(1),
.contents3 .diet01 .goodsbox:nth-child(2), 
.contents3 .diet01 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents3 .diet01 .goodsbox .pic {
    width: 100%;
    height: 300px;
   /* background-color: lightpink;*/
}
.contents3 .diet01 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents3 .diet01 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents3 .diet01 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents3 .diet01 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents3 .diet01 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 다이어트 02 */
.contents3 .diet02 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents3 .diet02 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents3 .diet02 .goodsbox:nth-child(1),
.contents3 .diet02 .goodsbox:nth-child(2), 
.contents3 .diet02 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents3 .diet02 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents3 .diet02 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents3 .diet02 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents3 .diet02 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents3 .diet02 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents3 .diet02 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 다이어트 03 */
.contents3 .diet03 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents3 .diet03 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents3 .diet03 .goodsbox:nth-child(1),
.contents3 .diet03 .goodsbox:nth-child(2), 
.contents3 .diet03 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents3 .diet03 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents3 .diet03 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents3 .diet03 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents3 .diet03 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents3 .diet03 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents3 .diet03 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

/* 다이어트 04 */
.contents3 .diet04 {
    width: 1170px;
    height: 410px;
    overflow: hidden;
    /*background-color: lightgrey;*/
    margin: 0 auto;
    margin-top: 50px;
}
.contents3 .diet04 .goodsbox {
    width: 270px;
    height: 410px;
    /*border: 1px solid;
    box-sizing: border-box;*/
    overflow: hidden;
    float: left;
}
.contents3 .diet04 .goodsbox:nth-child(1),
.contents3 .diet04 .goodsbox:nth-child(2), 
.contents3 .diet04 .goodsbox:nth-child(3) {
    margin-right: 30px;
}
.contents3 .diet04 .goodsbox .pic {
    width: 100%;
    height: 300px;
    /*background-color: lightpink;*/
}
.contents3 .diet04 .goodsbox .pic img {
    width: 100%;
    height: 100%;
}
.contents3 .diet04 .goodsbox .text {
    width: 100%;
    height: 90px;
    /*background-color: beige;*/
    margin-top: 20px;
    overflow: hidden;
}
.contents3 .diet04 .goodsbox .text .name {
    margin-left: 10px;
    /*border: 1px solid;*/
}
.contents3 .diet04 .goodsbox .text .price {
    margin-left: 10px;
    /*border: 1px solid;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contents3 .diet04 .goodsbox .text .c_review {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
/* 상품에 마우스 올렸을 때 */
.goodsbox>.pic:hover {
    opacity: 0.8;
    cursor: pointer;
}
/*footer*/
footer {
    width: 100%;
    height: 300px;
    background-color: #404040;
    position: relative;
}
.terms {
    width: 100%;
    height: 70px;
    border: 1px solid #8A8585;
    box-sizing: border-box;
    border-top: none;
    border-right: none ;
    border-left: none ;
}
.terms ul {
    width: 1000px;
    height: 100%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    color: #F5F5F5;
    margin: 0 auto;
}
.terms ul li {
    width: 200px;
    height: 60px;
    /*border: 1px solid blueviolet;*/
    box-sizing: border-box;
    float: left;
    margin: 5px 60px;
    text-align: center;
    line-height: 60px;
}
footer .f_logo {
    width: 200px;
    height: 80px;
    /*background-color: aqua;*/
    position: absolute;
    left: 28%;
    bottom: 24%;
}
footer .f_logo img {
    width: 100%;
    height: 100%;
}
footer>p {
    color: #F5F5F5;
    font-size: 14px;
    position: absolute;
    right: 28%;
    bottom: 28%;
}